body {
    margin: 0;
    padding: 0;
    background-color: #96E5D1;
}
header {
    background-color: #C55300;
    display: flex;
    justify-content: space-between;
}
.nav-left, .nav-right, .blog-post {
    background-color: #FFF;
}
.btn {
    background-color: green;
    color: white;
}
.btn-warning {
    background-color: red;
}
#content {
    background-color: #A62349;
}
