{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>DjangoBlog</title>
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
  <header>
    <div class="nav-left">
      <a href="{% url 'blog' %}">Blog</a>
    </div>
    <div class="nav-right">
      {% if request.user.is_authenticated %}
      <a href="{% url 'add_blog_post' %}">Add Blog Post</a>
      {% else %}
      <a href="">Login</a>
      {% endif %}
    </div>
  </header>
  <div id="content">
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>
